/* ---------- PATTERNS AND RESET ------------ */
:root {
  font-size: 62.5%;

  /*----------- COLOR PALLETE ---------------- */
  /* PRIMARY */
  --bright-blue: hsl(220, 98%, 61%);
  --check-bg: linear-gradient(
    to right bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* LIGHT MODE */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* DARK MODE */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-Blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-hover: hsl(237, 14%, 26%);
}

* {
  font-size: 1.45rem;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

button,
input,
label {
  cursor: pointer;
}
/* ------------ BACKGROUND ------------ */

body {
  background-color: var(--very-light-grayish-blue);
  transition: 500ms;
}

html.dark_mode_enabled body {
  background-color: var(--very-dark-blue);
}

.bg_img {
  background-image: url(../imgs/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 20.01rem;
  max-height: 30rem;
  object-fit: cover;
  position: fixed;
  top: 0;
  z-index: -1;
  transition: background-image 500ms;
}

html.dark_mode_enabled .bg_img {
  background-image: url(../imgs/bg-mobile-dark.jpg);
}

/* ------------ WRAPPER ------------ */
.wrapper {
  margin-inline: 3rem;
}

/* ------------ HEADER ------------ */
header span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 4rem;
}

h1 {
  font-size: 2.6rem;
  letter-spacing: 1rem;
  color: var(--very-light-gray);
}

button.theme_toggle {
  all: unset;
  cursor: pointer;
  background-image: url(../svgs/icon-moon.svg);
  width: 2rem;
  height: 2rem;
  background-size: contain;
  transition: 500ms;
}

html.dark_mode_enabled button.theme_toggle {
  background-image: url(../svgs/icon-sun.svg);
}

/* ------------ INPUT ------------ */
.input_box {
  background-color: var(--very-light-gray);
  display: flex;
  align-items: center;
  gap: 1.4rem;
  width: 100%;
  height: 5rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  border-radius: 1rem;
  transition: background-color 500ms;
  margin-bottom: 2rem;
}

html.dark_mode_enabled .input_box {
  background-color: var(--very-dark-desaturated-Blue);
}

.input_box label {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: var(--light-grayish-blue) 0.1rem solid;
}

.input_box input {
  border: none;
  background-color: unset;
  width: 90%;
}

html.dark_mode_enabled .input_box input {
  color: var(--very-light-gray);
}

.input_box input:focus {
  all: unset;
}

/* ------------ TODOS SECTION ------------ */
section {
  background-color: var(--very-light-gray);
  width: 100%;
  border-radius: 1rem;
  transition: 500ms;
  overflow: hidden;
}

html.dark_mode_enabled section {
  background-color: var(--very-dark-desaturated-Blue);
}

section .footer {
  height: 5rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .footer p {
  color: var(--dark-grayish-blue);
}

section .footer button p:hover {
  color: var(--very-dark-desaturated-Blue);
}

html.dark_mode_enabled section .footer button p:hover {
  color: var(--very-light-gray);
}

/* ------------ TODO CARDS -------------- */
.todos {
  display: flex;
  flex-direction: column;
}

.todos.activeFilter .card.completed {
  display: none;
}

.todos.completedFilter .card.active {
  display: none;
}

.todos .card_content {
  background-color: var(--very-light-gray);
  width: 100%;
  height: 5rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  transition: 500ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todos .bottomLine {
  height: 1px;
  background-color: var(--light-grayish-blue);
  width: 100%;
  opacity: 0.7;
  transition: opacity 500ms;
}

html.dark_mode_enabled .todos .bottomLine {
  opacity: 0.2;
}

.todos .card_content div {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

html.dark_mode_enabled .todos .card_content {
  background-color: var(--very-dark-desaturated-Blue);
}

.todos .card_content input {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: var(--light-grayish-blue) 0.1rem solid;
  position: relative;
}

.todos .card_content p {
  color: var(--very-dark-desaturated-Blue);
  font-size: 1.4rem;
  line-height: 2rem;
  cursor: pointer;
}

html.dark_mode_enabled .todos .card_content p {
  color: var(--very-light-gray);
}

.todos .card_content input:checked {
  background-image: var(--check-bg);
}

.todos .card_content input:checked::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url(../svgs/icon-check.svg);
  background-repeat: no-repeat;
  top: 0.4rem;
  left: 0.4rem;
}

.todos .card_content input:checked ~ .todo_text {
  text-decoration: line-through;
  opacity: 0.5;
}

.todos .card_content button {
  all: unset;
  justify-self: flex-end;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

/* ------------ FILTER CARD --------------- */
.filter_card {
  margin-top: 2rem;
  height: 5rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: var(--very-light-gray);

  transition: background-color 500ms;
}

.filter_card_buttons {
  display: flex;
  gap: 1.4rem;
}

.filter_card_buttons:nth-child(2) {
  display: none;
}

html.dark_mode_enabled .filter_card {
  background-color: var(--very-dark-desaturated-Blue);
}

.filter_card_buttons button {
  color: gray;
  font-weight: 700;
}

.filter_card_buttons button.on {
  color: var(--bright-blue);
}

.filter_card_buttons button:hover {
  color: var(--very-dark-desaturated-Blue);
}

html.dark_mode_enabled .filter_card_buttons button:hover {
  color: var(--very-light-gray);
}

/* ------------ FOOTER --------------- */
footer {
  margin-block: 4rem;
  color: gray;
  text-align: center;
}

/* --------- BREAKPOINTS ------------ */
@media (min-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    width: 60rem;
  }

  .bg_img {
    background-image: url(../imgs/bg-desktop-light.jpg);
  }

  html.dark_mode_enabled .bg_img {
    background-image: url(../imgs/bg-desktop-dark.jpg);
  }

  header {
    margin-top: 7rem;
  }
}

@media (min-width: 1023px) {
  h1 {
    font-size: 3.5rem;
  }

  button.theme_toggle {
    width: 2.3rem;
    height: 2.3rem;
  }

  .todos .card_content button {
    display: none;
  }

  .todos .card:hover .card_content button {
    display: block;
  }

  .filter_card_buttons:nth-child(2) {
    display: flex;
  }

  .filter_card {
    display: none;
  }

  .input_box,
  section .footer,
  .todos .card_content {
    height: 6rem;
  }
}
